

.messages {
  background-color: steelblue;
  border-radius: 5px;
  padding: 1em;
  height: 50vh;
  overflow: auto;
}

.message {
  color: white;
  padding: 0.3em;
}

.date, .pseudo {
  font-weight: bold;
}


#pseudo {
  width: 20%;
}

#contenu {
  width: 60%;
}
